extend ../index

  blocks navbar

  blocks body
    h2= 'Review of ' + restaurants[0].restaurant_id
    each review in restaurants
      p= review.reviewer_name
      p= review.date
      p= review.rating
      p= review.review
