extend ../admin

block navbar
    
block body
  main.admin
    div.top
      h2 Neighborhoods
      each neighborhood in neighborhoods
        div.square
          h3
            a(href='/admin/neighborhoods/' + neighborhood.id + '/edit')= neighborhood.name
          p= neighborhood.county
          p #{neighborhood.city}, #{neighborhood.state}
      div.square 
        h3 
          a(href='/admin/neighborhoods/new') New 'Hood
    div.left
      h2 Restaurants
      each restaurant in restaurants
        div.restaurant.table
          div.tableheader
              a(href='/admin/restaurants/' + restaurant.id)= restaurant.name
          div.tablebody
            img(src= restaurant.img height='40' width='40')
            div.Location
              p= restaurant.city
              p= restaurant.state
            div.info
              p= restaurant.cuisine
              - var i=1
              while i<= restaurant.rating
                img(src='/images/star.png' width='15' height='15' class=i++)
      a(href='/admin/restaurants/new') Create New Restaurant        
          
        
