extends ../index

block body
  form.ferm(method='post' action= action)
    h3.labelform= restaurants ? 'Update Restaurant' : 'New Restaurant'
    label Name 
    input(type="text" name="name" placeholder='Restaurant Name' value=restaurants ? restaurants.name : "") 
    label Location
    input(type='text' name='city' placeholder='City' value= restaurants ? restaurants.city : "")
    select(name='state')
      for val, index in states
        if restaurants && index == states.indexOf(restaurants.state)
            option(value= val selected='selected')= val
          else
            option(value= val)= val
    label Cuisine  
    select(name='cuisine')
      for val, index in cuisine
        if restaurants && index == cuisine.indexOf(restaurants.cuisine)
            option(value= val selected='selected')= val
          else
            option(value= val)= val
    label Rating
    div.ratings
      - var n = 1
      while n<=5
        if restaurants && n == restaurants.rating
            input(name='rating' type='radio' checked='checked' value= n++)
          else
            input(name='rating' type='radio' value= n++)
    label Image
    input(type='text' name='img' value= restaurants ? restaurants.img : "" placeholder='Image URL')
    textarea(cols='40', rows='8', name='description' placeholder='Short bio')= restaurants ? restaurants.description : ""
    div.buttons
      button.green(type='submit') 
        a= restaurants ? 'Update' : 'Create'
      button.red 
        a(href='/') Cancel
