extends ../admin

block body
  form.form(method='post' action= restaurant && restaurant.id ? '/admin/restaurants/' + restaurant.id + '/edit' : '/admin/restaurants')
    h3.labelform= restaurant && restaurant.name ? 'Update Restaurant' : 'New Restaurant'
    label Name 
    if restaurant && restaurant.name === ''
      p.formfill Please enter a Name
    input(type="text" name="name" placeholder='Restaurant Name' value=restaurant && restaurant.name ? restaurant.name : "") 
    label Street Address
    if restaurant && restaurant.street1 === ''
      p.formfill Please enter an Address
    input(type='text' name='address' placeholder='Address' value=restaurant && restaurant.street1 ? restaurant.street1 : "")
    label Location
    if restaurant && restaurant.city === ''
      p.formfill Please enter a City
    input(type='text' name='city' placeholder='City' value= restaurant && restaurant.city ? restaurant.city : "")
    select(name='state')
      for val, index in states
        if restaurant && index == states.indexOf(restaurant.state)
            option(value= val selected='selected')= val
          else
            option(value= val)= val
    label Neighborhood
    select(name='neighborhood_id')
      each val, index in neighborhoods
        if restaurant && restaurant.neighborhood_id == val.id
          option(value= val.id selected)= val.name
        else
          option(value= val.id)= val.name
    label Cuisine  
    select(name='cuisine')
      for val, index in cuisine
        if restaurant && index == cuisine.indexOf(restaurant.cuisine)
            option(value= val selected='selected')= val
          else
            option(value= val)= val
    label Image
    if restaurant && restaurant.img === ''
      p.formfill Please give your restaurant an image
    input(type='text' name='img' value= restaurant && restaurant.img ? restaurant.img : "" placeholder='Image URL')
    label Description
    if restaurant && restaurant.description === ''
      p.formfill Please give your restaurant a description
    textarea(cols='40', rows='8', name='description' placeholder='Short bio')= restaurant && restaurant.description ? restaurant.description : ""
    div.buttons
      button.green(type='submit') 
        a= restaurant && restaurant.name ? 'Update' : 'Create'
      button.red 
        a(href= restaurant && restaurant. name ? '/admin/restaurants/' + restaurant.id : "/admin") Cancel
