extend ../adminlayout

block navbar
  if loggedin
    div
      a(href='/login/logout') Logout

block content

  header.admin
    h1= restaurant.name
    div
      a(href='/admin') Return to Admin

  main.restaurantView
    div.view
      img(src=restaurant.img, height='150px' width='150px')
    div.detail
      h2= restaurant.city + ", " + restaurant.state
      p= restaurant.description
      div
        button.green(type='button')
          a(href='/admin/restaurants/' + restaurant.id + '/edit') Edit Restaurant
        button.red
          a(href='/admin/restaurants/' + restaurant.id + '/delete') Delete
    div.meals.reviews
      h2 Meals
      each meal in meals
        div.individualreview.meal.table
          div.tableheader
            h4
              a(href='/admin/restaurants/' + restaurant.id + '/meals/' + meal.id  + '/edit')= meal.name
          div.tablebody
            ul
              each ingredient in meal.ingredients
                li= ingredient
    div.restaurantemployees
      div.buttons
        button.newhire(type='button')
          a(href='/admin/restaurants/' + restaurant.id + '/meals/new') Add a Meal
