extend ../layout

block content

  header.admin
    h1= restaurant.name
    div
      a(href='/admin') Return to Admin

  main.admin
    img(src=restaurant.img, height='350px' width='350px')
    div.detail
      div
        h2= restaurant.cuisine + " cuisine" 
        h2= "Located in " + restaurant.city + ", " + restaurant.state
      p= restaurant.description
      div.rating
        p Rating:
        div.stars
          - var i = 1;
          while i <= restaurant.rating
            img(src='/images/star.png' height='30' width='30' id= i++)
      form.buttons(action='/admin/restaurant/'+ restaurant.id + '/delete', method='post')  
        button.green(type='button')
          a(href='/admin/restaurant/' + restaurant.id + '/edit') Edit Restaurant
        button.red(type='submit' name='button' value='delete') Delete
        button.newhire(type='button')
          a(href='/admin/restaurant/' + restaurant.id + '/employee/new') New Hire
  if employees
    div.restaurantemployees
      each employee in employees
        div.employee
          div.header
            h3
              a(href='#')= employee.first_name + ' ' + employee.last_name
          div.rest
            div.position
              p= employee.position
            div.performance
              - var i=1
              while i <= employee.performance
                img(src='/images/star.png' width='20' height='20' class=i++)
            div.buttons
              form(action='/admin/employee/' + employee.id + '/delete' method='post')
                a(href='/admin/employee/' + employee.id + '/edit') Update
                button Remove From Employment
