extend ../layout

block content

  header
    h1= restaurant.name
    a(href='/') Return to Homepage
  main
    img(src=restaurant.img, height='350px' width='350px')
    div.detail
      div
        h2= restaurant.cuisine + " cuisine" 
        h2= "Located in " + restaurant.city + ", " + restaurant.state
      p= restaurant.description
      div.rating
        p Rating:
        div.stars
          - var i = 1;
          while i <= restaurant.rating
            img(src='/images/star.png' height='30' width='30' id= i++)
      form(action='/restaurant/'+ restaurant.id + '/delete', method='post').buttons  
        button.green(type='button')
          a(href='/restaurant/' + restaurant.id + '/edit') Edit
        button.red(type='submit' name='button' value='delete')
          a Delete
  if restaurant.review
    each review in restaurant
      div
        p= review.reviewer_name
        p= review.date
        p= review.rating
        p= review.review
        
