extends ../index

block navbar
  div
    a(href='/restaurants') Go to Restaurants
block body
  each neighborhood, i in neighborhoods
    div.neighborhood.floatBox
      h3
        a(href='/neighborhoods/' +neighborhood.id )= neighborhood.name
      h4= neighborhood.county
      p #{neighborhood.city}, #{neighborhood.state}
      div(id='map_canvas' + i)

  script.
    var map = {};
    var array = !{JSON.stringify(neighborhoods)}
    function initMap(){
      array.forEach(function(item, i){
        map['map' + i] = new google.maps.Map(document.getElementById('map_canvas' + i), {
          center: item.epicenter,
          zoom: 10
        })
      })
    }
    
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGvRKGXRbAW1TT-Ls0Rw6YX1jEHkyvwg0&callback=initMap")
