extends ../layout

block content
  header
    h1= title
    div
      a(href='/neighborhoods') Return to Neighborhoods

  main
    div#map(style='height:300px; width: 300px; border: 1px solid #888')
    div 
      h2 Restaurants
      if restaurants
        each val in restaurants
          div.food
            h2
              a(href='/restaurants/' + val.id )= val.name
            img(src= val.img, height='125' width='125')
            p= val.cuisine
            p= val.city + ', ' + val.state


  script.
    var map;
    var epicenter = {
      lat: #{epicenter.lat},
      lng: #{epicenter.lng}
    }
    function initMap(){
      map = new google.maps.Map(document.getElementById('map'), {
      center: epicenter,
      zoom: 10
      });
    }
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGvRKGXRbAW1TT-Ls0Rw6YX1jEHkyvwg0&callback=initMap")
