extends ../layout

block content
  header
    h1= title
    div
      a(href='/neighborhoods') Return to Neighborhoods

  main.neighborhoodView
    div#map
    div.neighborhoodRestaurants 
      if restaurants
        each val in restaurants
          div.table
            div.tableheader
              a(href='/restaurants/' + val.id )= val.name
            div.tablebody
              img(src= val.img, height='125' width='125')
              div.neighborhoodRestaurantContent
                p Cuisine:  #{val.cuisine}
                p Location: #{val.city}, #{val.state}
                p= val.description

  script.
    var map;
    var markers = {};
    var restaurants = !{JSON.stringify(restaurants)}
    function initMap(){
      map = new google.maps.Map(document.getElementById('map'), {
      center: !{JSON.stringify(epicenter)},
      zoom: 13
      });
      restaurants.forEach(function(item, i){
        markers['marker' + i] = new google.maps.Marker({
          position: item.epicenter,
          map: map,
          title: item.name
        })
      })
    }
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGvRKGXRbAW1TT-Ls0Rw6YX1jEHkyvwg0&callback=initMap")
