extends ../layout

block content
  header
    h1= title
    div
      a(href='/neighborhoods') Return to Neighborhoods

  main.neighborhoodView
    div#map
    div.neighborhoodRestaurants 
      if restaurants
        each val in restaurants
          div.table
            div.tableheader
              a(href='/restaurants/' + val.id )= val.name
            div.tablebody
              img(src= val.img, height='125' width='125')
              div.neighborhoodRestaurantContent
                p Cuisine:  #{val.cuisine}
                p Location: #{val.city}, #{val.state}
                p= val.description

  script.
    var map;
    var epicenter = {
      lat: #{epicenter.lat},
      lng: #{epicenter.lng}
    }
    function initMap(){
      map = new google.maps.Map(document.getElementById('map'), {
      center: epicenter,
      zoom: 10
      });
    }
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGvRKGXRbAW1TT-Ls0Rw6YX1jEHkyvwg0&callback=initMap")
