extend ../layout

block content

  header
    h1= restaurant.name
    div
      a(href='/restaurants') Return to Restaurants
  main.restaurantView
    img(src=restaurant.img, height='350px' width='350px')
    div.detail
      div
        p= restaurant.cuisine + " cuisine" 
        p= "Located in " + restaurant.city + ", " + restaurant.state
      p= restaurant.description
      div.rating
        p Rating:
        div.rating
          - var i = 1;
          while i <= avgrating
            img(src='/images/star.png' height='30' width='30' class= i++)
      div.buttons
        a(href='/restaurants/' + restaurant.id + '/review/new')
          button.green(type='button') Add a Review
    div.reviews
      each review in reviews
        div.individualreview.table
          div.tableheader
            h4= review.reviewer_name
            p.dateslice= review.created_at.toString().substring(0, 15)
          div.tablebody
            p= review.review
            - var i =1
            div.rating
              while i <= review.rating
                img(src='/images/star.png' height='20' width='20' class=i++)
            a.tablemore(href='/restaurants/' + restaurant.id + '/review/' + review.id + '/edit') Edit
      
