extend ../layout

block content

  header
    h1= restaurant.name
    div
      a(href='/restaurants') Return to Restaurants
  main.restaurantView
    img(src=restaurant.img, height='350px' width='350px')
    div.detail
      div
        p= restaurant.cuisine + " cuisine" 
        p= "Located in " + restaurant.city + ", " + restaurant.state
      p= restaurant.description
      div.buttons
    div.meals.reviews
      each meal in meals
        div.individualreview.meal.table
          div.tableheader
            h4= meal.name
          div.tablebody
            ul
              each ingredient in meal.ingredients
                li= ingredient
            a.tablemore(href='/restaurants/' + restaurant.id + '/meals/' + meal.id) Meal and Reviews
      
