extend ../layout

block content

  header
    h1= restaurant.name
    div
      a(href='/') Return to Homepage
  main
    img(src=restaurant.img, height='350px' width='350px')
    div.detail
      div
        h2= restaurant.cuisine + " cuisine" 
        h2= "Located in " + restaurant.city + ", " + restaurant.state
      p= restaurant.description
      div.rating
        p Rating:
        div.stars
          - var i = 1;
          while i <= restaurant.rating
            img(src='/images/star.png' height='30' width='30' class= i++)
      a(href='/restaurant/' + restaurant.id + '/review/new')
        button(type='button') Add a Review
    div.reviews
      each review in reviews
        div.individualreview
          div.header
            h4= review.reviewer_name
            p= review.date
          p= review.review
          - var i =0
          while i <= review.rating
            img(src='/images/star.png' height='30' width='30' class=i++)
          a(href='/restaurant/' + restaurant.id + '/review/' + review.id)
            button(type=button) Edit
      
